.filters
{
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDD;
    border-radius: 4px;
    position: relative;
}
.btn_search
{
    position: absolute;
    top: 15%;
    right: 30px;
    font-size: 18px;
    /* padding: 1rem 4rem; */
    border-radius: 4px;
    height: 48px;
    width: 20%;
}
